node_modules
.next
dist
out
.git
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local
npm-debug.log
npm-debug.log*
pnpm-debug.log
pnpm-debug.log*
.pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode
.idea
